backend {
  default = Localhost_Docker

  providers {

    # Example backend that _only_ runs workflows that specify docker for every command.
    Localhost_Docker {
      actor-factory = "cromwell.backend.impl.sfs.config.ConfigBackendLifecycleActorFactory"
      config {
        runtime-attributes = """
        String? docker
        String root
        """
        run-in-background = true
        submit = "${job_shell} ${script}"

        # `script-epilogue` configures a shell command to run after the execution of every command block.
        #
        # If this value is not set explicitly, the default value is `sync`, equivalent to:
        # script-epilogue = "sync"
        #
        # To turn off the default `sync` behavior set this value to an empty string:
        # script-epilogue = ""

        script-epilogue = "sync && sleep 8 "

        # This is very important to make sure we can use the File type variable
        # in SGE enviroments.
        # The value of dockerRoot must be the folder where you run your WDL pipeline,
        # appending the suffix '/cromwell-executions',
        # e.g.
        # dockerRoot = "/export/personal/menggl/my_test/Hi-C_Assembly_pipeline/test/LibraryQC_FileType/cromwell-executions"
        #
        # We replace the '__DOCKER_ROOT__' to the real path whenever and whereever we run our WDL pipeline each time:
        dockerRoot = __DOCKER_ROOT__

        # You must ensure all the Docker images to be used are accessible
        submit-docker = "docker run --rm --user $(id -u):$(id -g) -v ${cwd}:${docker_cwd} -v ${root}:${root} ${docker} ${job_shell} ${docker_script}"
      }
    }
}
}
docker.hash-lookup.enabled = false
