
{% if pkg_list %}
    <table summary="no_orderDate">
    <tr><th>Package</th><th>Version</th><th>Dependencies</th><th>Author</th><th>Project_url</th><th>Description</th><th>Download_link</th>
        {% for pkg in pkg_list %}
            <tr>
                <td>{{ pkg.name }}</td>
                <td>{{ pkg.version }}</td>
                <td>{{ pkg.deps }}</td>
                <td>{{ pkg.author }}</td>
                <td>{{ pkg.project_url }}</td>
                <td>{{ pkg.description }}</td>
                <td><a href="{% url 'download_pkg' pkg.id %}">{{ pkg.file }}</a></td>

            </tr>
        {% endfor %}
    </table>

    <p><a href="{% url 'upload' %}"> Upload new package</a></p>

    <p><a href="{% url 'metadata_file' %}"> Download metadata file</a></p>

{% else %}
    <p>No packages are available.</p>

    <p><a href="{% url 'upload' %}"> Upload new package</a></p>

{% endif %}
